﻿@{
    ViewBag.Title = "Confirmation pour récuperer votre mot de passe";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        SVP, verifiez votre courriel pour réinitialiser votre mot de passe.
    </p>
</div>
	
