﻿@using Examino.Models
@model LoginViewModel
@{
    ViewBag.Title = "Se Connecter";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Email).Class("col-md-2 control-label")
                    <div class="col-md-10">
                        @Html.Bootstrap().TextBoxFor(m => m.Email).Class("form-control")
                        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.Bootstrap().LabelFor(m => m.Password).Class("col-md-2 control-label")                    
                    <div class="col-md-10">
                        @Html.Bootstrap().PasswordFor(m => m.Password).Class("form-control")
                        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.Bootstrap().CheckBoxFor(m => m.RememberMe)
                            @Html.Bootstrap().LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.Bootstrap().SubmitButton().Class("btn btn-primary").Text("Se Connecter")
                    </div>
                </div>
                <p>
                    @Html.ActionLink("S'incrire comme nouveau utilisateur", "Register")
                </p>
                //Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Recuperer votre Mot de Passe?", "ForgotPassword")
                    </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}