﻿@model Examino.Models.RegisterViewModel
@{
    ViewBag.Title = "Inscription";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "ui form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Email).Class("col-md-2 control-label")
        @Html.Bootstrap().TextBoxFor(m => m.Email).Class("form-control")
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Password).Class("col-md-2 control-label")
        @Html.Bootstrap().PasswordFor(m => m.Password).Class("form-control")
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.ConfirmPassword).Class("col-md-2 control-label")
        @Html.Bootstrap().PasswordFor(m => m.ConfirmPassword).Class("form-control")
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.FirstName).Class("col-md-2 control-label")
        @Html.Bootstrap().TextBoxFor(m => m.FirstName).Class("form-control")
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.LastName).Class("col-md-2 control-label")
        @Html.Bootstrap().TextBoxFor(m => m.LastName).Class("form-control")
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.CodeUser).Class("col-md-2 control-label")
        @Html.Bootstrap().TextBoxFor(m => m.CodeUser).Class("form-control")
    </div>
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Role).Class("col-md-2 control-label")
        @Html.Bootstrap().DropDownListFor(m => m.Role, (IEnumerable<SelectListItem>)ViewBag.Roles).Class("form-control")
    </div>
    @Html.HiddenFor(m => m.Photo)
    <div class="form-group">
        @Html.Bootstrap().LabelFor(m => m.Photo).Class("col-md-2 control-label")
        <div class="col-md-10">
            <img src="@Model.Photo" alt="photo" width="64" height="64" id="imageId"/>
            @Html.ValidationMessageFor(model => model.Photo, "", new {@class = "text-danger"})
            <label class="btn btn-default btn-sm" for="fileinput">               
                <input id="fileinput" type="file" style="display: none;" onchange="upload_photo(this)"/>
                Changer
            </label>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            @Html.Bootstrap().SubmitButton().Class("btn btn-primary").Text("S'incrire")
        </div>
    </div>
}

@section scripts
{
    <script>
        function upload_photo(input) {
            var image = document.getElementById("imageId");
            var filename = document.getElementById("Photo");
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    image.src = e.target.result;
                    image.onload = function () {
                        filename.value = image.src;
                    };
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}